:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: #101522;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .multi-button {
    display: flex;
    width: 50%;
    /* box-shadow: var(--shadow) 4px 4px; */
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid #cccccc;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.0rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    /* text-shadow: var(--shadow) 2px 2px; */
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid #cccccc;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }



  #stockbox {
    display: flex;
    padding: 10px;
    border: 2px solid #cccccc;
    margin: 0;
    background-color: #ffffff;
    max-width: 1215px;
  }

  #serif {
    padding-left: 6px;
    font-family: Courier, monospace;
  }

  #smalltext {
    font-size: 12px;
  }

  #green {
    color: green;
    line-height: 2;
  }

  #red {
    color: red;
    line-height: 2;
  }