
#expanded-post-preview-container {
    display: flex;
    border: 2px solid #cccccc;
    background-color: #ffffff;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 20px 20px;

    flex-direction: row;
    margin: 15px;
    margin-bottom: 45px;
    max-width: 1215px;
    width: 1215px;
    font-family: monospace;
    border-radius: 6px;
}

#expanded-post-preview-container:hover {
    border-color: #cccccc;
    border-radius: 6px;
    cursor: auto;
 }

 #loweredit {
    color: #2c5777;
    display: inline;
    padding-right: 12px;
 }

 #loweredit:hover {
    cursor: pointer;
 }

 #lowerbuttonbox {
    padding-top: 10px;
     display: flex;
     flex-direction: row;
 }